@charset "utf-8";

*   {padding:0; margin:0;}
ol, ul, li       {list-style:none;}
caption, legend      {font-size:0; width:0; height:0; line-height:0; overflow:hidden; text-indent:-9999px;}

button       {cursor:pointer; border:0; background:none;}
a:link       {text-decoration:none; color:#000;}
a:hover,
a:focus        {text-decoration:underline; color:#000;}

em       {font-style:normal;}

h1,h2,h3,h4,h5,h6,a,span,strong,b,s,u,i,em,p,ul,li,ol,div,dl,dt,dd,th,td,img       {vertical-align:top; line-height:100%; font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;}