@charset "utf-8";
@import url('base.css');
@import url('layout.css');

/* header 해당 버튼 강조 */
.contWrap header nav ul>li:nth-child(4)>a>span{
    background:#e42050;
}
.contWrap header nav ul>li:nth-child(4)>a:hover>span{
    border:2px solid #e42050;
}
.contWrap header nav ul>li:nth-child(4)>a>h2{
    font-weight:700;
}


.contWrap .contents{
    width:calc(100% - 280px); height:100%; margin-left:280px;
    background:#2d787e;
}

.contWrap .contents .contentsWrap{
    padding:100px 0 100px 100px;
}

.contWrap .contents .contentsWrap>h2{
    position:relative;
    font-family: 'Tangerine', cursive; color:#F9D5C5; font-size:50px; font-weight:700; letter-spacing: 3px;
}
.contWrap .contents .contentsWrap>h2:after{
    content:''; display:block; position:absolute; width:14px; height:14px; top:-12px; left:-13px;
    background:#7d3962; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%;
}
.contWrap .contents ul{
    *zoom:1; width:850px; margin-top:50px;
}
.contWrap .contents ul:after{
    display:table; content:''; clear:both;
}
.contWrap .contents ul>li{
    float:left; text-align:center; margin:0 35px;
}


.contWrap .contents ul .circle{
    position: relative;
}
.contWrap .contents ul .circle>strong{
    position:absolute; top:50%; left:50%;
    transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%);
    font-size:25px;
}
.contWrap .contents ul .circle.first>strong{
    color:#3B322E;
}
.contWrap .contents ul .circle.second>strong{
    color:#E0BFB1;
}
.contWrap .contents ul .circle.third>strong{
    color:#F9D5C5;
}

.contWrap .contents ul ol{
    margin-top:40px;
}
.contWrap .contents ul ol>li{
    margin-bottom:6px;
    font-weight:600; font-size:18px;
}
.contWrap .contents ul>li ol>li{
    color:#E0BFB1;
}

@media (max-width:1024px){
    /* header 해당 버튼 강조 */
    .contWrap header nav ul>li:nth-child(4)>a>span{
        float:none; display:block; width:9px; height:9px; margin:0 ;
        position: absolute; top:-10px; left:50%;
        transform:translateX(-50%); -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%);
        background:#e42050; border:none;
    }
    .contWrap header nav ul>li:nth-child(4)>a:hover>span{
        border:0;background:#e42050;
    }
    .contWrap header nav ul>li:nth-child(4)>a:hover>h2{
        color:#e42050;
    }
    .contWrap header nav ul>li>a:hover>span{
        display:block;
        background:#f45a76; border:0;
    }


    .contWrap .contents{
        width:100%; height:calc(100% - 85px); margin:85px 0 0 0; position:relative;
    }
    
    .contWrap .contents .contentsWrap{
        padding:100px 0; position:absolute; left:50%;width:638px;
        transform:translateX(-50%); -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%);
    }
    
    .contWrap .contents .contentsWrap>h2{
        font-size:4.8828vw;
    }
    .contWrap .contents .contentsWrap>h2:after{
        width:1.3672vw; height:1.3672vw; top:-1.1719vw; left:-1.2695vw;
    }
    .contWrap .contents ul{
        width:83.0078vw; margin-top:4.8828vw;
    }
    .contWrap .contents ul>li{
        margin:0 3.4180vw;
    }
    
    
    .contWrap .contents ul .circle>strong{
        font-size:2.4414vw;
    }
    
    .contWrap .contents ul ol{
        margin-top:3.9063vw;
    }
    .contWrap .contents ul ol>li{
        margin-bottom:0.5859vw;
        font-size:1.7578vw;
    }
}

@media (max-width:768px){
    /* header 해당 버튼 강조 */
    .contWrap header nav ul>li:nth-child(4){
        background:#416E68;
    }
    .contWrap header nav ul>li:nth-child(4)>a>span{
        float:left; display:block; width:12px; height:12px; margin:2px 0 0 20px; position:static; top:unset; left:unset;
        background:#f9d5c5; border:0; transform:none;
    }
    .contWrap header nav ul>li:nth-child(4)>a:hover>span{
        border:0; background:#f9d5c5;
    }
    
    .contWrap header nav ul>li:nth-child(4)>a:hover>h2{
        color:#f9d5c5;
    }
    .contWrap header nav ul>li>a:hover>span{
        background:#f9d5c5; border:0;
    }


    .contWrap .contents{
        width:100%; height:calc(100% - 62px); margin:62px 0 0 0;
    }
    
    .contWrap .contents .contentsWrap{
        padding:14.0208vw 0; position:absolute; left:50%; width:353px;
        transform:translateX(-50%); -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%);
    }
    
    .contWrap .contents .contentsWrap>h2{
        font-size:9.5vw;
    }
    .contWrap .contents .contentsWrap>h2:after{
        width:1.8vw; height:1.8vw; top:-1.1719vw; left:-1.2695vw;
    }
    .contWrap .contents ul{
        width:230px; margin-top:0;
    }
    .contWrap .contents ul>li{
        margin:7vw 0; position:relative; float:none;
    }

    .contWrap .contents ul .circle>strong{
        font-size:6.4414vw;
    }

    .contWrap .contents ul ol{
        margin-top:0; position:absolute; top:50%; left:270px;
        transform:translateY(-50%); -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%);
    }
    .contWrap .contents ul ol>li{
        margin-bottom:0.7vw; text-align:left;
        font-size:3.7578vw;
    }
}